body, html, a {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, SimSun, LiHei Pro Medium;
}

a {
    text-decoration: none;
    cursor: pointer;
}

div {
    margin: 0;
    padding: 0;
    width: 100%;
}

#div-clear {
    clear: both;
}

.header {
    background-color: #FFFFFF;
    margin-top: 5px;
}

.header #top-content {
    width: 1100px;
    margin: 0 auto;
}

.header #logo {
    float: left;
    width: 500px;
}

.header #user {
    float: right;
    width: 500px;
    text-align: right;
}

.header #user a {
    text-decoration: none;
    color: black;
}

.header #user #hour-tel {
    font-size: 13px;
    margin-top: 20px;
    padding-right: 50px;
    color: #868686;
}

.header #user input {
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 10px;
    color: white;
    padding: 3px 8px;
    background-color: #C00715;
    border: #C00715 2px solid;
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px; /* Webkit browsers */
    border-radius: 5px; /* W3C syntax */
}

.front-menu {
    background-color: #C00715;
    border-top: #949494 2px solid;

}

.front-menu #menu-content {
    width: 1100px;
    margin: 0 auto;
    padding-left: 380px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.front-menu #menu-content a {
    color: ivory;
    font-size: 15px;
    text-align: center;
    margin-right: 100px;
}

.front-footer {
    border-top: #949494 1px solid;
}

.front-footer #footer-content {
    width: 1100px;
    margin: 20px auto;
}

.front-footer #footer-content #footer-left {
    float: left;
    width: 830px;
}

.front-footer #footer-content #footer-left a {
    color: #87898A;
    margin-right: 15px;

}

.front-footer #footer-content #footer-left #company {
    color: black;
    width: auto;
    margin-top: 15px;
    margin-left: 0px;
    float: left;
    font-size: 13px;
}

.front-footer #footer-content #footer-left #company a {
    color: black;
}

.front-footer #footer-content #footer-left #copyright {
    color: #87898A;
    width: auto;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
    font-size: 13px;
}

.front-footer #footer-content #footer-right {
    float: right;
    width: 260px;
    text-align: left;
    font-size: 13px;
    color: #87898A
}

.front-footer #footer-content #footer-right #hot-line {
    font-size: 20px;
    margin: 5px 0;
}

.front-content {
    /*background-color: #F0F0F0;*/
    width: 100%;
    height: auto;
}

.front-content #main-content {
    width: 1100px;
    margin: 0 auto;
    /*background-color: #F0F0F0;*/
    padding: 10px 0;
}

.front-content #main-content #left-nav {
    float: left;
    width: 160px;
    background-color: #E9E8E8;
}

.front-content #main-content #right-article {
    float: right;
    width: 900px;
    text-align: center;
    min-height: 200px;
    padding: 20px 0;
    /*background-color: #F0F0F0;*/
}

.front-content #main-content #right-article h1 {
    margin: 0 auto;
    padding-bottom: 10px;
}

.front-content #main-content #right-article #right-article-content {
    text-align: left;
}

.front-content #main-content #left-nav ul {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #E9E8E8;
    margin-bottom: 0;
    margin-top: 0;

}

.front-content #main-content #left-nav a {
    color: black;
    text-decoration: none;

}

.front-content #main-content #login-register {
    float: left;
    width: 400px;
    padding: 20px 0 20px;
    margin-top: 20px;
    border: #BEBEBE 1px solid;
    background-color: #F1F0F0;
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px; /* Webkit browsers */
    border-radius: 5px; /* W3C syntax */

}

#login-register #content {
    width: 100%;
    padding: 5px 10px 15px 30px;
}

#login-register #title {
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 15px;
}

#login-register #splite {
    width: 380px;
    border: 1px #BEBEBE solid;
    margin-left: -20px;
    margin-bottom: 20px;
}

#login-register #content span {
    margin-right: 10px;
}

#login-register #content input {
    vertical-align: middle;
    margin: 10px 0 10px 0;
    width: 320px;
    height: 40px;
    text-align: left;
    border: 1px solid #afabab;
    padding-left: 10px;
    color: #666;
    font-size: 13px;
    -moz-border-radius: 3px; /* Gecko browsers */
    -webkit-border-radius: 3px; /* Webkit browsers */
    border-radius: 3px; /* W3C syntax */
}

#login-register #content #forget-psd {
    text-align: right;
    width: 100%;
    padding-right: 40px;
}

#login-register #content a {
    text-decoration: none;
}

#login-register #content #register-now {
    text-align: center;
    width: 100%;
}

#login-register #content #submit-login {
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #C00715;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px auto;
    height: 50px;
}

.front-content #main-content #right-content {
    float: right;
    width: 680px;
    padding: 30px 0 20px;
}

.w-1000 {
    width: 1000px;
    margin: 0 auto;
}

.ban02 {
    min-width: 350px;
    position: absolute;
}

.h-430 {
    height: 430px;
    position: relative;
}

.ban02 .top {
    font-size: 45px;
    font-weight: bold;
    color: #444;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.ban02 .bottom {
    font-size: 20px;
    color: #737373;
    width: 100%;
    line-height: 30px;
}

.jgzj {
    background: #fff;
    height: 430px;
}

.jgzj-cont {
    background: url("/img/money.jpg") 640px center no-repeat;
}

.jgzj .ban02 {
    top: 170px;
    left: 70px;
}

.sstx {
    background: #EDEDED;
    height: 430px;
}

.sstx-cont {
    background: url("/img/time-red.png") 40px center no-repeat;
}

.sstx .ban02 {
    top: 170px;
    left: 540px;
}

.yyqt {
    background: #fff;
    height: 430px;
}

.yyqt-cont {
    background: url("/img/percent-red.jpg") 640px center no-repeat;
}

.yyqt .ban02 {
    top: 170px;
    left: 70px;
}

.jrwm {
    background: #EDEDED;
    padding-top: 20px;
}

.jrwm-cont {
    background: url("/assets/img/arrow_right.png") center top no-repeat;
}

.jrwm .box1 {
    top: 160px;
    left: 70px;
}

.jrwm .box2 {
    top: 160px;
    left: 500px;
}

.jrwm .ban02 .top {
    color: #F18D22;
}

.jrwm .ban02 a.links {
    display: inline-block;
    width: 170px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background: #FF4401;
    color: #fff;
    font-size: 26px;
    margin-top: 30px;
}

.jrwm .box1 a.links {
    margin-top: 60px;
}

.jrwm .ban02 .color {
    color: #F18D22
}

.jrwm .ban02 .join {
    font-size: 20px;
    position: absolute;
    width: 500px;
}

.ban02 .bottom {
    font-size: 20px;
    color: #737373;
    width: 500px;
    line-height: 30px;
}
